.idea
01 Starting Project/node_modules
01 Starting Project 2/node_modules
01 Starting Project 3/node_modules
01 Starting Project 4/node_modules
01 Starting Project 5/node_modules
01 Starting Project 6/node_modules
    01 Starting Project 6/.env
    01 Starting Project 6/.env.test
    01 Starting Project 6/.cache
    01 Starting Project 6/public/build